if (xhr)
  block viewport
else
  !!! 5
  html
    head
      meta(charset="utf-8")
      title= siteTitle
      link(rel="stylesheet", href=cdn('/css/main.css'), media="screen")
      link(rel="stylesheet", href=cdn('/css/font-awesome.css'), media="screen")
      link(rel="shortcut icon", href=cdn('/favicon.ico'), type="image/x-icon")
      block stylesheets

      script(src=cdn('/js/lib/jquery-2.0.3.min.js'))
      script(src=cdn('/js/lib/scalpel-0.2.0.min.js'))
      script(src=cdn('/js/lib/jquery.tablesorter.min.js'))
      script(src=cdn('/js/lib/jquery.validation-1.11.1.min.js'))
      script(src=cdn('/js/lib/jquery.autosize.min.js'))
      script(src=cdn('/js/lib/highlight.web.js'))
      script(src=cdn('/js/lib/jquery-ui-1.10.3.min.js'))
      script(src=cdn('/js/app.js'))
      include shared/mathjax

    body
      #notices
        each notice in notices.get()
          div(class="notice #{notice.kind}")= notice.msg

      include shared/header

      #content
        block content

      include shared/footer