padsize = 16px
radius = 4px

scaff-margin=2
scaff-width=((100 - 11 * scaff-margin) / 12)

text-color = #444

primary-upper = #22a754
primary-lower = #166b36
primary-color = #fff

secondary-upper = #33aaee
secondary-lower = #2066a0
secondary-color = #fff

danger-upper = #cc3333
danger-lower = #771111
danger-color = #eedddd

font-sans = "HelveticaNeueLight", "HelveticaNeue-Light",
"Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue",
"Segoe UI", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
font-sans-weight = 300

font-serif = Georgia, serif
font-serif-weight = 400

font-light = "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight",
"Helvetica Neue", "HelveticaNeue", "Segoe UI", "Calibri", Arial,
Helvetica, sans-serif;
font-light-weight = 100;

font-mono = Monaco, Courier New, Courier, monospace
font-mono-weight = 400

font-size = 16px
line-height = 1.5em
